<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>icon</key>
				<string>one.png</string>
				<key>name</key>
				<string>铁头</string>
				<key>time</key>
				<string>100</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>two.png</string>
				<key>name</key>
				<string>李维</string>
				<key>time</key>
				<string>90</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>three.png</string>
				<key>name</key>
				<string>王艳</string>
				<key>time</key>
				<string>80</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>student.jpg</string>
				<key>name</key>
				<string>孙继峰</string>
				<key>time</key>
				<string>70</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>student.jpg</string>
				<key>name</key>
				<string>林博文</string>
				<key>time</key>
				<string>60</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>student.jpg</string>
				<key>name</key>
				<string>徐志全</string>
				<key>time</key>
				<string>50</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>student.jpg</string>
				<key>name</key>
				<string>田宇</string>
				<key>time</key>
				<string>40</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>student.jpg</string>
				<key>name</key>
				<string>郝十庆</string>
				<key>time</key>
				<string>30</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>student.jpg</string>
				<key>name</key>
				<string>常瑞</string>
				<key>time</key>
				<string>20</string>
			</dict>
		</array>
		<key>number</key>
		<string>二班</string>
	</dict>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>icon</key>
				<string>one.png</string>
				<key>name</key>
				<string>陈少川</string>
				<key>time</key>
				<string>100</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>two.png</string>
				<key>name</key>
				<string>徐志全</string>
				<key>time</key>
				<string>90</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>three.png</string>
				<key>name</key>
				<string>陈诗羽</string>
				<key>time</key>
				<string>80</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>student.jpg</string>
				<key>name</key>
				<string>申凯梦</string>
				<key>time</key>
				<string>70</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>student.jpg</string>
				<key>name</key>
				<string>王莹莹</string>
				<key>time</key>
				<string>60</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>student.jpg</string>
				<key>name</key>
				<string>吕佳欣</string>
				<key>time</key>
				<string>50</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>student.jpg</string>
				<key>name</key>
				<string>张咪咪</string>
				<key>time</key>
				<string>40</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>student.jpg</string>
				<key>name</key>
				<string>吴昊辰</string>
				<key>time</key>
				<string>30</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>student.jpg</string>
				<key>name</key>
				<string>李维</string>
				<key>time</key>
				<string>20</string>
			</dict>
		</array>
		<key>number</key>
		<string>一班</string>
	</dict>
</array>
</plist>
